<div class="row">
  <div class="col-md-9">
    近日の予定
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Edit Profile</h4>
        <p class="card-category">Complete your profile</p>
      </div>
      <div class="card-body">
        
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      カレンダー
    </div>
  </div>
</div>